.Banner {
    max-width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px rgba( 1, 1, 1, .1);
  }

  .imageTile {
    max-width: 100% ;
    /* max-height: 200px; */
    margin: 50px;
    box-shadow: 3px 3px rgba( 1, 1, 1, .1);
  }

  .footer {
    grid-row-start: 2;
    grid-row-end: 3;
  }